<div class="container">
    <div class="hero-section"> 
        <img src="../products/hero-product.jpg" class="img-fluid hero-image p-3 " alt="brown wooden rolling pin on a table with baking ingredients" style="width:100%; height:auto; max-height:600px; object-fit:cover;position:relative;">
    </div>

    <div class="menu-container">
        <div class="menu-content">
            <h2 class="menu-title p-3 pb-0">Menu</h2>
            <div class="meals">
                <h3 class="meals-title p-3">Meals</h3>
                <div class="d-flex flex-row mb-4">
                    <div class="p-3">
                        <div class="card" style="width: 18rem;">
                            <img src="../products/meal-1.jpg" class="card-img-top" alt="Old Fashioned Donuts">
                            <div class="card-body">
                              <h5 class="card-title">Triple Cheese Donuts a la Lola Anne</h5>
                              <p class="card-text">The INTERNET fave, Three times the cheese for three times the drama. Bite into this, and you’ll be screaming, “This is KWEEN-level snacking!” <br><br>₱360.00</p>
                              <a href="#" class=" cta-btn p-2" style="border-radius:5px; text-decoration:none;color:#fff;background-color:#e53935">Discover More</a>
                            </div>
                          </div>
                    </div>
                    <div class="p-3">
                        <div class="card" style="width: 18rem;">
                            <img src="../products/meal-2.jpg" class="card-img-top" alt="Ube Fashioned Donuts">
                            <div class="card-body">
                              <h5 class="card-title">Triple Cheese Ube Donuts a la Lola Anne</h5>
                              <p class="card-text">Another INTERNET fave, cheese and ube, what's not to love? Bite into this, and you’ll be screaming, “This is part 2 of KWEEN-level snacking!”<br><br><br> ₱400.00</p>
                              <a href="#" class=" cta-btn p-2" style="border-radius:5px; text-decoration:none;color:#fff;background-color:#e53935">Discover More</a>
                            </div>
                          </div>
                    </div>
                    <div class="p-3">
                        <div class="card" style="width: 18rem;">
                            <img src="../products/meal-3.jpg" class="card-img-top" alt="Toasted Siopao">
                            <div class="card-body">
                              <h5 class="card-title">Lola Anne's Crispy Siopao Luxe</h5>
                              <p class="card-text">12 pcs of golden, pork-filled goodness. (Siopao? More like SIO-POWER.) Just like our donuts, you'll be screaming, “This is KWEEN-level snacking!”<br><br>₱230.00</p>
                              <a href="#" class=" cta-btn p-2" style="border-radius:5px; text-decoration:none;color:#fff;background-color:#e53935">Discover More</a>
                            </div>
                          </div>
                    </div>
                    <div class="p-3">
                        <div class="card" style="width: 18rem;">
                            <img src="../products/meal-4.webp" class="card-img-top" alt="Toasted Siopao">
                            <div class="card-body">
                              <h5 class="card-title">Pandesal Ensaymada Bombs</h5>
                              <p class="card-text">Classic Pinoy bread meets the indulgence of ensaymada. Soft, cheesy, and sinfully buttery. One bite, and you'll say, "Why stop at one?"<br><br>₱280.00</p>
                              <a href="#" class=" cta-btn p-2" style="border-radius:5px; text-decoration:none;color:#fff;background-color:#e53935">Discover More</a>
                            </div>
                          </div>
                    </div>
                  </div> 
            </div>
            <div class="meals">
                <h3 class="beverages-title p-3">Beverages</h3>
                <div class="d-flex flex-row mb-4">
                    <div class="p-3">
                        <div class="card" style="width: 18rem;">
                            <img src="../products/beverage-1.jpg" class="card-img-top" alt="Iced Pastillas Latte">
                            <div class="card-body">
                              <h5 class="card-title">Iced Pastillas Latté</h5>
                              <p class="card-text">Float away on clouds with this dreamy drink. Espresso meets carabao’s milk, topped with a sweet twist of pastillas magic.(Side effects: You may find yourself singing lullabies to your cup.)<br><br>₱130.00</p>
                              <a href="#" class=" cta-btn p-2" style="border-radius:5px; text-decoration:none;color:#fff;background-color:#e53935">Discover More</a>
                            </div>
                          </div>
                    </div>
                    <div class="p-3">
                        <div class="card" style="width: 18rem;">
                            <img src="../products/beverage-2.jpg" class="card-img-top" alt="Iced Kape ni Lola Anne">
                            <div class="card-body">
                              <h5 class="card-title">Iced Kape ni Lola Anne</h5>
                              <p class="card-text">Lola's magical touch on the classic iced mocha! A sip of espresso paired with her secret tsokolate recipe.(Warning: May cause an uncontrollable craving for more hugs from Lola)
                               <br><br> ₱120.00</p>
                              <a href="#" class=" cta-btn p-2" style="border-radius:5px; text-decoration:none;color:#fff;background-color:#e53935">Discover More</a>
                            </div>
                          </div>
                    </div>
                    <div class="p-3">
                        <div class="card" style="width: 18rem;">
                            <img src="../products/beverage-3.jpg" class="card-img-top" alt="Iced cafe con">
                            <div class="card-body">
                              <h5 class="card-title">Iced Cafe Con Leche</h5>
                              <p class="card-text">For all you sweet tooth lovers out there! Espresso with whole milk and condensed milk, making your taste buds sing in harmony.(When you're feeling extra sweet, or just need a cuddle from your inner child.)<br><br>₱110.00</p>
                              <a href="#" class=" cta-btn p-2" style="border-radius:5px; text-decoration:none;color:#fff;background-color:#e53935">Discover More</a>
                            </div>
                          </div>
                    </div>
                    <div class="p-3">
                        <div class="card" style="width: 18rem;">
                            <img src="../products/beverage-4.png" class="card-img-top" alt="Toasted Siopao">
                            <div class="card-body">
                              <h5 class="card-title">Iced Salted Caramel Kape</h5>
                              <p class="card-text">A perfect blend of espresso, caramel, and a hint of sea salt, creating a sweet and salty harmony in every sip. (Warning: May cause sudden outbursts of “I deserve this!” while sipping.) <br><br>₱125.00</p>
                              <a href="#" class=" cta-btn p-2" style="border-radius:5px; text-decoration:none;color:#fff;background-color:#e53935">Discover More</a>
                            </div>
                          </div>
                    </div>
                  </div> 
               
            </div>
        </div>
    </div>
</div>