<h2 class="fw-bold">Education</h2>
<div class="mt-2 mb-4">
    <h3>{{ schools[2] }}</h3>
    <p class="mb-1">{{ levels[3] }}</p>
    <p>{{ years[3] }}</p>
    <p class="mb-1">{{ levels[2] }}</p>
    <p>{{ years[2] }}</p>
</div>
<div class="mb-4">
    <h3>{{ schools[1] }}</h3>
    <p class="mb-1">{{ levels[1] }}</p>
    <p>{{ years[1] }}</p>
</div>
<div class="mb-4 mb-lg-0">
    <h3>{{ schools[0] }}</h3>
    <p class="mb-1">{{ levels[0] }}</p>
    <p class="mb-lg-0">{{ years[0] }}</p>
</div>