<div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-2xl py-11 sm:py-12 lg:py-14">
      <div class="text-center">
        <i class="text-7xl ri-tailwind-css-fill"></i>
        <h1 class="text-balance text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">This is made using Tailwind</h1>
        <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:text-xl/8">This simple showcase webpage of web development languages frequently used by developers is created using Tailwind. This serves as our 3rd laboratory activity for our Prelim period in our Advanced Dynamic Web Applications (6AWEB) college course.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="#gallery" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Go to gallery</a>
          <a href="#footer" class="text-sm/6 font-semibold text-gray-900">See footer</a>
        </div>
      </div>
    </div>  
</div>
